:not(pre)>code {
    line-break: strict;
    white-space: pre-wrap;
    border-radius: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}


/* Makes side info smaller */
.sideInfo .contents {
    font-size: 0.8rem;
}
/* Documentation text */
p, li {
    line-height: 1.4rem;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--foreground-level-1);
    font-family: var(--font-header);
}
h1 strong,
h2 strong {
    color: var(--guilded-gilded);
}
h1 {
    border-bottom: var(--header-border);
}
/* Links */
a[href] {
    color: var(--guilded-gilded);
    text-decoration: none;
}
a[href]:visited {
    color: #F47600;
}
a[href]:active {
    color: #F4F000;
}
/* Blockquotes */
blockquote {
    margin: 0;
    padding: var(--tiny-space-size);
    padding-left: var(--small-space-size);
    margin-top: var(--small-space-size);
    margin-bottom: var(--small-space-size);
    border-left: 0.2rem solid #F5C400;
    border-radius: var(--button-space-size);
    background-color: #FFFFFF09;
    white-space: nowrap;
    align-items: center;
    display: flex;
}
blockquote {
    line-height: 1.4rem;
}
blockquote .quote-side {
    margin-right: 0.5rem;
}
blockquote .quote-body {
    white-space: normal;
    flex: 1;
}

.info-block {
    border-left: 0.2rem solid #42a9ee;
}
.info-block i {
    color: #42a9ee;
    fill: #42a9ee;
}
.note-block {
    border-left: 0.2rem solid #7e42ee;
}
.note-block i {
    color: #7e42ee;
    fill: #7e42ee;
}
.caution-block {
    border-left: 0.2rem solid #ee6442;
}
.caution-block i {
    color: #ee6442;
    fill: #ee6442;
}
.warning-block {
    border-left: 0.2rem solid #ee9e42;
}
.warning-block i {
    color: #ee9e42;
    fill: #ee9e42;
}
.success-block {
    border-left: 0.2rem solid #9eee42;
}
.success-block i {
    color: #9eee42;
    fill: #9eee42;
}

/* Styles both markdown inline code and code blocks */
code {
    font-family: var(--font-code);
    color: var(--foreground-level-3);
    background-color: var(--background-level-1);
}

/* Removes space before and after pre */
pre {
    margin: 0;
    padding: 0;
    overflow: auto;
}

table tbody tr td {
    padding-right: 0.8rem;
}

/* Styles footnote start */
.footnotes hr {
    border: var(--header-border);
}

/***************************
 *         Embeds
 ***************************/
/* Top level */
.gembed {
    display: inline-block;
    background-color: var(--background-level-2);
    border: 0.05rem solid;
    border-color: #FFFFFF12;
    border-top-right-radius: var(--embed-radius);
    border-bottom-right-radius: var(--embed-radius);
    overflow: hidden
}
.gembed-inner {
    border-left: 0.2rem solid;
    border-left-color: #f5bc1e;
}
/* Footer and author */
.gembed-author, .gembed-footer {
    display: block;
    overflow: auto;
    padding: var(--smaller-space-size);
}
/* Content */
.gembed-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: column wrap;
    box-sizing: border-box;
}
.gembed-thumbnail {
    flex: 1 1 auto;
}
.gembed-thumbnail img {
    width: 8rem;
    height: 8rem;
}
.gembed-body {
    padding: 0.6rem;
}
/* Body */
.gembed-author div, .gembed-footer div {
    display: inline;
    float: left;
    margin: var(--tiny-space-size);
}
.gembed .gembed-footer {
    background-color: var(--background-level-1);
    color: #BBBBBB;
}
.gembed-img, .gembed-author-icon, .gembed-footer-icon {
    width: 1.3rem;
    height: 1.3rem;
}
.gembed-author-text, .gembed-title, .gembed-field-title {
    font-weight: bolder;
}
/* Fields */
.gembed-title, .gembed-field-title {
    margin-bottom: 0.2rem;
}
.gembed-fields {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.gembed-field {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 0 0 auto;
}
.gembed-field-inline {
    width: 33%;
    flex: auto auto auto;
}
.gembed-field-title, .gembed-field-body {
    display: block;
}
/* Image */
.gembed-image-block img {
    max-width: 30rem;
    max-height: 15rem;
}