:root {
    --background-code: #1C1C1C;
    --font-code: 'Gotham', "Segoe UI", "Arial";
    --font-normal: Calibri, Arial;
    --font-header: 'Gotham Heavy', 'Gotham Black', 'Gotham Medium', "Calisto MT", "Bookman Old Style", Calibri, Arial;
    --background-level-1: #121212;
    --background-level-2: #191919;
    --background-level-3: #212121;
    --foreground-level-1: #FFFFFF;
    --foreground-level-2: #DDDDDD;
    --foreground-level-3: #BBBBBB;
    --header-border: 1px solid #FFFFFF11;
    --button-space-size: 0.5rem;
    --tiny-space-size: 0.2rem;
    --smaller-space-size: 0.5rem;
    --small-space-size: 1rem;
    --default-space-size: 2rem;
    --big-space-size: 3rem;
    --embed-radius: 0.4rem;
    --guilded-gilded: #F5C400;
}

body {
    background-color: var(--background-level-1);
    color: var(--foreground-level-2);
    font-family: var(--font-normal);
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


/* Changes scrollbar to a custom scrollbar */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-level-1);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--background-level-2);
    border-radius: 1rem;
}

* {
    /* Firefox scrollbar */
    scrollbar-width: auto;
    scrollbar-color: var(--background-level-3) var(--background-level-1);
}


/* Sets a top of the page */
.pageTop {
    background-color: var(--background-level-1);
    color: var(--foreground-level-1);
    vertical-align: top;
    width: 100%;
}
.pageTopInner {
    padding: var(--default-space-size);
}
.pageDisplay {
    padding-bottom: var(--smaller-space-size);
    border-bottom: 1px solid white;
}
.pageDisplay img {
    cursor: pointer;
    width: 10%;
}
.navigation {
    float: right;
}
.navigation a {
    margin-left: var(--smaller-space-size);
    margin-right: var(--smaller-space-size);
}
.navigation a,
.navigation a[href],
.navigation a[href]:visited,
.navigation a[href]:active {
    color: white;
    fill: white;
}

/* A fixed/sticky navigation on top of the screen */

/* .navigation {
    position: sticky;
    top: 0;
    background-color: var(--background-level-1);
    color: white !important;
    width: 100%;
    cursor: default;
    vertical-align: top;
    z-index: 10;
}
.navButton {
    vertical-align: middle;
    display: inline-block;
    border: 0;
    background-color: var(--background-level-1);
    color: var(--foreground-level-1);
    text-decoration: none;
    margin: 0;
    padding: var(--button-space-size);
    cursor: pointer;
}
.navButton[href],
.navButton[href]:visited,
.navButton[href]:hover,
.navButton[href]:active {
    color: var(--foreground-level-1) !important;
}
.navButton:hover {
    background-color: var(--background-level-3);
}
.navButton:active {
    background-color: var(--background-level-2);
}
.navButton img {
    width: 2rem;
    height: 2rem;
}
.navButton svg {
    width: 1em;
    height: 1em;
}
.navButtonImg,
.navButtonImg:hover,
.navButtonImg:active {
    padding: 0;
    background-color: var(--background-level-1);
} */

/* Body of the page */
.documentBody {
    overflow: hidden;
    display: flex;
}
.mainBody, .sideInfo {
    background-color: var(--background-level-2);
    border-radius: var(--smaller-space-size);
    margin: var(--smaller-space-size);
    float: right;
}
.mainBody {
    width: 75%;
}
.sideInfo {
    width: 20%;
    z-index: 9;
}
div.content {
    padding: var(--small-space-size);
}